<h1>Редактировать страницу</h1>
<div class="input-group input-group-sm mb-3 shadow-sm">
  <div class="input-group-prepend">
    <span class="input-group-text">Название</span>
  </div>
  <input [(ngModel)]="name" type="text" class="form-control" aria-label="Small"
         aria-describedby="inputGroup-sizing-sm" maxlength="1024">
</div>

<div class="input-group input-group-sm mb-3 shadow-sm">
  <div class="input-group-prepend">
    <span class="input-group-text">Описание</span>
  </div>
  <input [(ngModel)]="description" type="text" class="form-control" aria-label="Small"
         aria-describedby="inputGroup-sizing-sm" maxlength="1024">
</div>

<div class="news-editor shadow-sm">
  <ckeditor [(ngModel)]="content"
            [config]="{
              extraPlugins: '',
              language: 'ru'
            }"
            maxlength="100000"
  ></ckeditor>
</div>

<div class="d-flex justify-content-center my-4">
  <button class="btn btn-danger mx-4" [routerLink]="['/admin', 'sections']">Отменить</button>
  <button class="btn btn-success mx-4" (click)="updatePage()">Обновить</button>
</div>
