<footer>
  <ul class="px-1 py-3"
    style="display: flex; flex-wrap: wrap; list-style: none; justify-content: center;  max-width:1200px; margin: 0 auto;">
    <li style="display: block;  margin: auto 25px" class="banner__li">
      <a href="https://www.president.gov.by/" title="Интернет-портал Президента Республики Беларусь"
        style="display: block; margin-top: 15px; text-align: center">
        <img src="./assets/old_files/e12b54c06aedcad6b4621fee818321ee.png" width="120" alt="">
      </a>
    </li>
    <li style="display: block;  margin: auto 25px" class="banner__li">
      <a href="https://abiturient.by/" title="Справочный ресурс для поступающих"
        style="display: block; margin-top: 15px; text-align: center">
        <img src="./assets/old_files/ea3202b9901b9b090c5a880a3dd5770c.png" width="140" alt="">
      </a>
    </li>
    <li style="display: block;  margin: auto 25px" class="banner__li">
      <a href="https://mosk.minsk.gov.by/" title="Администрация Московского района"
        style="display: block; margin-top: 15px; text-align: center">
        <img src="./assets/old_files/9bf4f5900cc1bb20769127fee0059512.png" height="70" alt="">
      </a>
    </li>
    <li style="display: block;   margin: auto 25px" class="banner__li">
      <a href="http://mspu.by/index.php/by/"
        title="Мозырский государственный педагогический университет им. И.П.Шамякина"
        style="display: block; margin-top: 15px; text-align: center">
        <img src="./assets/old_files/4d44f8dfd60c04365382eec7a42caf5b.png" height="65" alt="">
      </a>
    </li>
    <li style="display: block;  margin: auto 25px" class="banner__li">
      <a href="https://edu.gov.by/" title="Министерство образования Республики Беларусь"
        style="display: block; margin-top: 15px; text-align: center">
        <img src="./assets/old_files/5c1b83a7ab8c92a214c946e5187fa029.png" height="65" alt="">
      </a>
    </li>
    <li style="display: block;  margin: auto 25px" class="banner__li">
      <a href="http://mogilev.bip-ip.by/" title="Могилёвский филиал БИП"
        style="display: block; margin-top: 15px; text-align: center">
        <img src="./assets/old_files/174f319fc96cc8070355d438eadfb126.jpg" height="60" alt="">
      </a>
    </li>
    <li style="display: block;  margin: auto 25px" class="banner__li">
      <a href="http://bip-grodno.by/" title="Гродненский филиал БИП"
        style="display: block; margin-top: 15px; text-align: center ">
        <img src="./assets/old_files/e3a7d03e9754e374a204a4e33a4d951c.jpg" height="60" alt="">
      </a>
    </li>
    <li style="display: block;  margin: auto 25px" class="banner__li">
      <a href="https://gsu.by/" title="Гомельский государственный университет им. Ф.Скорины"
        style="display: block; margin-top: 15px; text-align: center ">
        <img src="./assets/old_files/b157733e73e41fa1874bf74ee4e67449.png" height="60" alt="">
      </a>
    </li>
    <li style="display: block;  margin: auto 25px" class="banner__li">
      <a href="https://www.amia.by/" title="Академия МВД Республики Беларусь"
        style="display: block; margin-top: 15px; text-align: center ">
        <img src="./assets/old_files/530ffbc0e904da9cbad96718549f5484.png" height="75" alt="">
      </a>
    </li>
    <li style="display: block;  margin: auto 25px" class="banner__li">
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSeta7YBSa2yZAQeFwLN9LoqCzYEhfEgplCaEImMWQObbp26fw/viewform"
        title="Студотрядовское движение БИП. Запись Online"
        style="display: block; margin-top: 15px; text-align: center ">
        <img src="./assets/old_files/9142f9b10917bfc79674db3cb02051b7.jpg" height="54" alt="">
      </a>
    </li>
    <li style="display: block;  margin: auto 25px" class="banner__li">
      <a href="http://n.bip-ip.by/novosti/?ELEMENT_ID=1191" title="Осторожно Коронавирус!"
        style="display: block; margin-top: 15px; text-align: center ">
        <img src="./assets/old_files/f7b5e3e5476798c9714991a4baa8ccab.png" height="54" alt="">
      </a>
    </li>
    <li style="display: block;  margin: auto 25px" class="banner__li">
      <a href="http://n.bip-ip.by/god-narodnogo-edinstva" title="Год народного единства"
        style="display: block; margin-top: 15px; text-align: center ">
        <img src="./assets/old_files/2021year_0.jpg" height="54" alt="">
      </a>
    </li>
    <li style="display: block;  margin: auto 25px" class="banner__li">
      <a href="https://rka.by/" title="Белорусская республиканская коллегия адвокатов"
        style="display: block; margin-top: 15px; text-align: center ">
        <img src="./assets/old_files/M4BpDqfqNEs.png" height="54">
      </a>
    </li>
    <li style="display: block;  margin: auto 25px" class="banner__li">
      <a href="http://n.bip-ip.by/grodno-molodezhnaya-stolitsa-2021.php?clear_cache=Y"
        title="Гродно - молодежная столица 2021" style="display: block; margin-top: 15px; text-align: center ">
        <img src="./assets/old_files/cff400b6bf4019d5467ac8a0d9258ab3.jpg" height="54" alt="">
      </a>
    </li>
    <li style="display: block;  margin: auto 25px" class="banner__li">
      <a href="http://n.bip-ip.by/novosti/?ELEMENT_ID=1427" title="Телефон доверия БИП"
        style="display: block; margin-top: 15px; text-align: center ">
        <img src="./assets/old_files/2ae843c602d59d21a52552d52854701b.gif" height="54" alt="">
      </a>
    </li>
  </ul>
</footer>

<!-- After footer -->
<div class="content" style="margin: 20px auto; display: flex; flex-wrap: wrap; justify-content: center">
  <div style="width: 327px; display: flex; justify-content: center">
    <a href="https://vk.com/vuz_bip" style="padding: 0 10px;">
      <img style="text-align: center;" src="./assets/old_files/fd7c1853a2f887e4c67ef70a03b34ca6.png" alt="">
    </a>
    <a href="https://www.youtube.com/channel/UCh2QFmmDyIhIt59Zi9Kqo8Q" style=" padding: 0 10px;">
      <img style="text-align: center;" src="./assets/old_files/bb212ea01f00a4d4502fa14fcd29e2ef.png" alt="">
    </a>
  </div>
  <div style="width: 327px;padding-top: 10px; display: flex; justify-content: center">
    <a href="http://n.bip-ip.by/kontakty/" style="text-align: center;margin-right: 20px;">Контакты</a>
    <a href="http://n.bip-ip.by/vakansii/" style="text-align: center">Вакансии</a>
  </div>
</div>